#shed_table, #shed_table td{
 border:solid black 1px;
 border-collapse: collapse;
 }

 #settTable, #settTable td{
 border:solid black 1px;
 border-collapse: collapse;
 }
 #settTable{
 margin-top:20px;
 }
 #settTable td{
 width:80px;
 height:80px;
 text-align:center;
 }

 #settTable td.header{
 background-color:rgb(220,220,220);
 }

 .outOfRange{
   background-color:grey;
 }
 .prazdn{
    color:red;
 }
 #htmlTA, #txtTA, #originTA{width:900px; height:300px;}
 #txtTA{margin-left:100px;}
 #descrTA{width:900px; height:300px;}
 body, #settingsPane {text-align:center;}

 .clDay{width:50;}
 .clMonth{width:100;}
 .clYear{width:80;}

