#shed_table, #shed_table td{
 border:solid black 1px;
 border-collapse: collapse;
 }

 #settTable, #settTable td{
 border:solid black 1px;
 border-collapse: collapse;
 }
 #settTable{
 margin-top:20px;
 }
 #settTable td{
 width:80px;
 height:80px;
 text-align:center;
 }

 #settTable td.header{
 background-color:rgb(220,220,220);
 }

 .outOfRange{
   background-color:grey;
 }
 .prazdn{
    color:red;
 }
 #htmlTA, #txtTA, #originTA{width:900px; height:300px;}
 #txtTA{margin-left:100px;}
 #descrTA{width:900px; height:300px;}
 body, #settingsPane {text-align:center; background-color:rgb(210,229,249);}

#startDtInp, #endDtInp {font-size:18px; }

.slu-cnt {margin:3px; text-align:left; vertical-align:middle;height:25px; border: 1px solid lightgrey;}
.w2ui-field label {color:darkblue}
#addedSluCnt {margin-top:30px; background-color: lightgrey}
#addedSluCnt div {margin:5px;}
#addedSluCnt div input.sluTime{width:70px}
#addedSluCnt div input.sluName{width:250px}